= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .container.user-new{:action => ""}
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Email & Password
          = f.email_field :email, placeholder: "email", class: "user-email"
          = f.password_field :current_password, placeholder: "current-password", class: "user-password"
          = f.password_field :password, placeholder: "password", class: "user-password"
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password"
      .row.text-center.user-btn
        = f.submit "Save", class: "btn btn-lg btn-primary btn-block"
