.jumbotron
  .container.text-center
    = image_tag "header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: '73px'
.filter-nav
  .container
    .row.clearfix
      %ul.nav.nav-pills.left
        %li#js-ranking{role: 'presentation'}
          = link_to 'Pupular', root_path, class: 'btn btn-default right'
        %li#js-newest{role: 'presentation'}
          = link_to 'Newest', root_path, class: 'btn btn-default right'
      %ul.nav.nav-pills.right
        %li#js-tags{role: 'presentation'}
          = link_to 'View Tags', tags_path, class: 'btn btn-default right'
.container
  .row
    - @tags.each do |tag|
      .col-xs-4.col-sm-3.col-md-3.tag-list
        = link_to tag_path(tag.name) do
          .thumbnail.tag-square.btn.btn-default
            = tag.name
            %hr.hr-tag
            %span
              = tag.taggings_count
              件
