.container.proto-new
  = simple_form_for (@product) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
          = f.text_field :title, autofocus: true, placeholder: "タイトル"
          = f.fields_for :product_images,  @product_image do |ff|
            .row
              .col-md-12
                .cover-image-upload
                  = image_tag @product.product_images.main.first.image_url
                  = ff.file_field :image
                  = ff.hidden_field :status, {value: 'main'}
                  = ff.hidden_field :id, value: @product.product_images.main.first.id
                .col-md-12
                  %ul.proto-sub-list.list-group
                    %li.list-group-item.col-md-4
                      - if @product.product_images.sub.present?
                        = f.fields_for :product_images,  @product_image do |q|
                          .image-upload
                            = image_tag @product.product_images.sub[0].image_url
                            = q.file_field :image
                            = q.hidden_field :status, {value: 'sub'}
                            = q.hidden_field :id, value:  @product.product_images.sub[0].id
                    %li.list-group-item.col-md-4
                      - if @product.product_images.sub.present?
                        = f.fields_for :product_images,  @product_image do |q|
                          .image-upload
                            = image_tag @product.product_images.sub[1].image_url
                            = q.file_field :image
                            = q.hidden_field :status, {value: 'sub'}
                            = q.hidden_field :id, value:  @product.product_images.sub[1].id
                    %li.list-group-item.col-md-4.plus
                      .image-upload-plus
                        %span +
                      %li.list-group-item.col-md-4.appear
                        = f.fields_for :product_images, @product_image do |q|
                          .image-upload
                            = image_tag @product.product_images.sub[2].image_url if @product.product_images.sub[2]
                            = q.file_field :image
                            = q.hidden_field :status, {value: 'sub'}
      .row.proto-description
        .col-md-12
          = f.text_field :catchcopy, placeholder: "キャッチコピー"
        .col-md-12
          = f.text_field :concept, cols: "30", rows: "4", placeholder: "コンセプト"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{:type => "text", :placeholder => "Web Design"}/
            .col-md-3
              %input{:type => "text", :placeholder => "UI"}/
            .col-md-3
              %input{:type => "text", :placeholder => "Application"}/
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Publish
